html, body, #home {
	
	overflow-x: hidden;
}

body {
	background: url(../imagens/capa.png),
				url(../imagens/ruido.png),
				linear-gradient(50deg,#9bf0e1,#ff4169);
	background-attachment: fixed;
    display: grid;
    place-items: center;
}

.titulo_login{
    color: #9bf0e1;

}

.botao_login{
    background-color: white;
    color: black;
    
}

.botao_login:hover{
    background-color: #9bf0e1;
    transition: .6s;
    color: #7c25f8;
}

.nav__item{
    color: white;
}

nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0,0,0,0.6);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,0.5);
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

form{
    margin-top: 100px;
}


